<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153925948796-kqplgro4ma7032e6lprfjfu5fup7ban3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153925948796-kqplgro4ma7032e6lprfjfu5fup7ban3</string>
	<key>API_KEY</key>
	<string>AIzaSyC1AIi6fETf7US09F3QSpLjt6iSZz9WwTc</string>
	<key>GCM_SENDER_ID</key>
	<string>153925948796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grncm.WhoKnowsBetter</string>
	<key>PROJECT_ID</key>
	<string>whoknowsbetter-66168</string>
	<key>STORAGE_BUCKET</key>
	<string>whoknowsbetter-66168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153925948796:ios:d2c37ed64bf150b62800f9</string>
</dict>
</plist>